body {
  background-image: linear-gradient(to bottom right, darkturquoise, khaki);
}

h1 {
    color: white;
    text-align: center;
    margin: 2rem;
    font-family: courier;

  }

/* #header {
  border: 2px;
  border: solid mediumvioletred;
} */

  p {
    text-align: center;
    font-family: courier;
  }

  .quote {
    color: white;
    font-size: 1.4rem;
    font-family: courier;
    /* line-height: 1.6rem;
    letter-spacing: .1rem; */
    /* text-transform: uppercase; */
    margin: 5rem;
    text-shadow: blur-radius;
  }

  .author {
    color: white;
  }

  /* #app {
    flex-direction: column;  
    justify-content: space-between; 
    margin: -6rem 1rem 1rem;
    width: 50rem; 
    min-width: 50rem;
    min-height: 25rem;
    text-align: center;
    border-radius: 1rem; 
    background-color: blueviolet;
    opacity: 40%;
    box-shadow: 0 4px 5px 0 #0000001a;
  } */

  #header {
    margin: 10rem;
  }